.main {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: Poppins;
  gap: 70px;
}

.title {
  text-align: center;
  font-size: 18px;
  color: #aa7bc3;
  width: 150px;
  white-space: nowrap;
  position: relative;
  font-weight: 700;
}

.input {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  background-color: #f4f4f4;
  width: 266.17px;
  height: 44.17px;
  color: #aa7bc3;
  text-align: center;
}

.smallInput {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  background-color: #f4f4f4;
  width: 90px;
  height: 44.17px;
  color: #aa7bc3;
  text-align: center;
}
