.registerb {
  background-color: rgba(170, 123, 195, 0.2);
  padding: 10px 10px 10px 45px;
  position: relative;
  font-size: 13px;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-family: Poppins;
  color: #aa7bc3;
  height: 40px;
  width: 160px;
  top: 45px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  transition: all 0.3s ease-in-out;
  .bookIcon1 {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}
.registerb:hover {
  color: white;
  background-color: #aa7bc3;
  .bookIcon1 {
    opacity: 1;
  }
}
