@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.baseIcon {
  position: absolute;
  border-radius: var(--br-md);
  width: 880px;
  height: 265px;
}
.menu {
  position: absolute;
  background-color: white;
  width: 880px;
  height: auto;
  border-radius: var(--br-md);
  overflow: hidden;
  opacity: 0;
  z-index: 20;
}
.menu.animate {
  animation: 0.65s ease 0s 1 normal forwards slide-in-top;
}
