.bookIcon {
  position: relative;
  width: 15px;
  height: 17.5px;
  flex-shrink: 0;
  z-index: 0;
}

.bookIcon1 {
  position: absolute;
  top: 11.25px;
  left: 10px;
  width: 15px;
  height: 17.5px;
  display: none;
  z-index: 2;
}
.registerb {
  position: relative;
  display: flex;
  width: fit-content;
  white-space: nowrap;
  top: 10px;
  left: 756px;
  margin-bottom: 25px;
  padding: var(--padding-10xs);
  background-color: #a1c6ea;
  border-radius: var(--br-xs);
  align-items: center;
  gap: var(--gap-3xs);
  font-size: var(--body1-size);
  letter-spacing: -0.02em;
  font-family: var(--font-poppins);
  color: var(--color-gray-1600);
  text-align: center;
}

.advisors {
  background-color: #eee5f3;
  color: #aa7bc3;
}

.registerb:hover {
  background-color: #00467a;
  color: #ffffff;
}
.advisors:hover {
  background-color: #aa7bc3;
}

.registerb:hover .bookIcon1 {
  display: flex;
}
