.strong,
.totalRegisteredSubjects {
  position: absolute;
  top: 11.36%;
  left: 22.57%;
  letter-spacing: 0.3px;
  line-height: 12px;
  font-weight: 500;
  display: inline-block;
}
.strong {
  top: 59.09%;
  font-weight: 600;
  color: var(--color-gray-1000);
}
.vectorIcon {
  position: relative;
  height: 100%;
  width: 17.12%;
  top: 0;
  right: 82.88%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tRS {
  position: relative;
  width: 257px;
  height: 44px;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-1400);
  font-family: var(--font-poppins);
}
