.groupIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 685px;
  height: 832px;
}
.loginpageMain {
  position: relative;
  background-color: var(--white1);
  width: 100%;
  height: 825px;
  overflow: hidden;
}
