.credits,
.grade {
  width: 55px;
}
.courseName {
  width: 181px;
}

.credits,
.grade,
.courseName {
  position: relative;
  height: 26px;
  color: #00467a;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  white-space: nowrap;
}
.labels {
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 666px;
  height: 26.5px;
  gap: 140px;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  z-index: 2;
}
