.rectangleParent,
.rectangleContainer,
.rectangleGroup {
  position: relative;
  height: 44.17px;
  background-color: rgba(161, 198, 234, 0.25);
}
.rectangleGroup,
.rectangleContainer {
  width: 147.53px;
}
.rectangleParent {
  width: 266.17px;
}

.text {
  position: relative;
  top: 11.02px;
  color: #00467a;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.cells {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
  text-align: center;
  font-size: var(--font-size-2xs);
  font-family: var(--font-poppins);
}
