.gpaPageTableChild {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: var(--br-sm);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.secondBox,
.semesterIi {
  position: relative;
  color: #00467a;
  font-weight: 700;
  font-size: 24px;
  top: 20px;
  left: 30px;
  display: inline-block;
}
.secondBox {
  left: 190px;
  animation: showSelectGradually 0.5s ease-in-out;
}
@keyframes showSelectGradually {
  from {
    opacity: 0;
    transform: translateX(-70px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.dropdowns {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 170px;
}
.gpaPageTable {
  position: absolute;
  top: 109px;
  left: 353px;
  width: 870px;
  height: 530px;
  text-align: left;
  background-color: white;
  border-radius: var(--br-sm);
  font-size: var(--font-size-2xl);
  font-family: var(--font-poppins);
}
