.semesterIiGpa {
  font-weight: 300;
  color: #00467a;
}
.gpa {
  margin-left: 8px;
  font-weight: 700;
  color: #00467a;
}
.semgpa {
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) 0;
  font-size: 20px;
  font-family: var(--font-poppins);
}
