.vectorIcon {
  position: absolute;
  height: 100.01%;
  width: 87.5%;
  top: 0;
  right: 6.25%;
  bottom: -0.01%;
  left: 6.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bell {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  overflow: hidden;
}
.vectorIcon1,
.vectorIcon2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon2 {
  height: 56.1%;
  width: 33.9%;
  top: 21.88%;
  right: 33.26%;
  bottom: 22.02%;
  left: 32.84%;
}
.questionCircle {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.menus {
  width: 171px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}
