.vectorIcon {
  position: absolute;
  height: 25px;
  width: 25px;
  bottom: 12.5%;
  overflow: hidden;
}
.envelope {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  width: 25px;
  height: 25px;
}
