.subject {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 25px;
  flex-shrink: 0;
}

.search,
.searchChild {
  font-family: Poppins;
}
.searchChild {
  position: relative;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  background-color: #f4f4f4;
  color: #b38ac9;
  width: 180px;
  height: 40px;
}

.search {
  position: relative;
  height: 12.54%;
  width: 95.4%;
  top: 2.19%;
  right: 2.3%;
  bottom: 85.27%;
  left: 2.3%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 11px 25px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 20px 10px;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  text-align: center;
  font-size: 18px;
  color: #aa7bc3;
}

.go {
  display: flex;
  padding: 6px;
  flex-direction: row;
  color: #b394d0;
  font-size: 14px;
  border-radius: 10px;
  background-color: #f4f4f4;
}

*:focus {
  outline: none;
}
